USE [master];
GO

-- Create the database 
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'Product_Inventory')
BEGIN
    CREATE DATABASE [Product_Inventory];
END
GO

USE [Product_Inventory];
GO

-- 1. Create Tables
IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'Categories')
BEGIN
    CREATE TABLE Categories (
        CategoryId INT PRIMARY KEY IDENTITY,
        Name NVARCHAR(100) NOT NULL
    );
END

IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'Products')
BEGIN
    CREATE TABLE Products (
        ProductId INT PRIMARY KEY IDENTITY,
        Name NVARCHAR(200) NOT NULL,
        CategoryId INT FOREIGN KEY REFERENCES Categories(CategoryId),
        Quantity INT NOT NULL DEFAULT 0,
        Price DECIMAL(10,2) NOT NULL
    );
END
GO

-- 2. Seed Initial Data
IF NOT EXISTS (SELECT * FROM Categories)
BEGIN
    INSERT INTO Categories (Name) VALUES ('Electronics'), ('Home'), ('Stationery');
END
GO

-- 3. Stored Procedures 

-- GET ALL
CREATE OR ALTER PROCEDURE sp_GetAllProducts
AS
BEGIN
    SELECT p.ProductId, p.Name AS ProductName, p.CategoryId, c.Name AS Category, p.Quantity, p.Price AS ProductPrice 
    FROM Products p
    INNER JOIN Categories c ON p.CategoryId = c.CategoryId;
END;
GO

-- SEARCH
CREATE OR ALTER PROCEDURE sp_SearchProducts @Keyword NVARCHAR(100)
AS
BEGIN
    SELECT p.ProductId, p.Name AS ProductName, p.CategoryId, c.Name AS Category, p.Quantity, p.Price AS ProductPrice
    FROM Products p
    INNER JOIN Categories c ON p.CategoryId = c.CategoryId
    WHERE p.Name LIKE '%' + @Keyword + '%';
END;
GO

-- UPSERT
Create or alter procedure sp_UsertProduct
	@id int, @name nvarchar(200), @catId int, @qty int, @price decimal(10, 2)
as
begin
	Set nocount on

	begin transaction;
	begin try
		if @id = 0
			insert into Products (Name, CategoryId, Quantity, Price)
			values (@name, @catId, @qty, @price);
		else
			update Products
			set Name = @name, CategoryId = @catId, Quantity = @qty, Price = @price
			where ProductId = @id;

		commit transaction;
	end try
	begin catch
		if @@TRANCOUNT > 0 Rollback transaction;

		declare @ErrorMessage nvarchar(4000) = error_message();
		raiserror(@ErrorMessage, 16, 1);
	end catch
end;
go

-- DELETE
create or alter procedure sp_DeleteProduct @productId int
as
begin
	set nocount on;

	begin transaction;
	begin try
		delete from Products where ProductId = @productId;

		commit transaction;
	end try
	begin catch
		if @@TRANCOUNT > 0 rollback transaction;

		declare @ErrorMessage nvarchar(4000) = error_message();
		raiserror(@ErrorMessage, 16, 1);
	end catch
end;
go

-- GET CATEGORIES 
CREATE OR ALTER PROCEDURE sp_GetCategories
AS
BEGIN
    SELECT CategoryId, Name FROM Categories;
END;
GO